#1 Write a program to print the triangle 
#i/p  4

###1
###2    3
###3    4   5
###4    5   6   7

In [ ]:
n = int(input("enter n:"))
for i in range(n):
  for j in range(i+1):
    print(i+j+1,end=" ")
  print(" ")

enter n:7
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
6 7 8 9 10 11
7 8 9 10 11 12 13

###2
 Enter number 4
###*
###* *
###* * *
###* * * *

In [ ]:
n = int(input("enter n:"))
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print(" ")

enter n:7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

##3 Enter number 5

###5
###4 5
###3 4 5
###2 3 4 5
###1 2 3 4 5

In [ ]:
n = int(input("enter n:"))
for i in range(n):
  for j in range(i+1):
    print(n-i+j,end=" ")
  print(" ")

enter n:5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

###4  Enter number 5

###5 4 3 2 1
###4 3 2 1
###3 2 1
###2 1
###1

In [ ]:
n = int(input("enter n:"))
for i in range(n):
  for j in range(n-i):
    print(n-i-j,end=" ")
  print(" ")

enter n:5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

###5 Enter number 4

###1 2 3 4
###2 3 4
###3 4
###4
###3 4
###2 3 4
###1 2 3 4

In [ ]:
n = int(input("enter n:"))
for i in range(n):
  for j in range(1,n-i+1):
    if(i!=n-1):
      print(j+i,end=" ")
  if i!=n-1:
    print(" ")
for i in range(n):
  for j in range(i+1):
    print(n-i+j,end=" ")
  print(" ")

enter n:8
1 2 3 4 5 6 7 8
2 3 4 5 6 7 8
3 4 5 6 7 8
4 5 6 7 8
5 6 7 8
6 7 8
7 8
8
7 8
6 7 8
5 6 7 8
4 5 6 7 8
3 4 5 6 7 8
2 3 4 5 6 7 8
1 2 3 4 5 6 7 8

#6 Find the length of a string without using len functions

In [ ]:
x=input("enter the string:")
c=0
for i in x:
  c=c+1
print("the length of {0} is {1}".format(x,c))

enter the string:jagath haren
the length of jagath haren is 12

#7 Find the no of words and characters in a string

In [ ]:
s=input("enter the string:")
words=len(s.split())
char=len(s)
print("words: {0}\ncharactrs: {1}".format(words,char))

enter the string:good night everyone sweet dreams. bye
words: 6
charactrs: 37

#8 Find the no of occurrences of a word in a string

In [ ]:
s=input("enter the string:")
t=input("enter  the word:")
x= s.split(" ")
c = 0
for i in x:
  if t==i:
    c+=1
print("the word {0} occurs {1} times".format(t,c))

enter the string:hih hi hk hi
enter  the word:hi
the word hi occurs 2 times