<a href="https://colab.research.google.com/github/jayanaik9090/Python_Programming_in_DA_and_ML/blob/master/Day_2_session_1_Examples_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Program to find the largest number in a list.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])
l=[int(input(x)) for i in range(int(input("Enter n")))]

Enter number of elements:5
Enter element:6
Enter element:2
Enter element:3
Enter element:8
Enter element:9
Largest element is: 9
Enter n8

NameError: ignored

In [ ]:
x=0
print('The greatest no is',max([int(input(x)) for i in range(int(input("Enter n")))]))

Enter n4
5
4
2
2
The greatest no is 5

#Python Program to put the even and odd elements in a list into two different lists.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:2
Enter element:6
Enter element:8
The even list [6, 8]
The odd list []

#Python Program to merge two lists and sort it.

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:4
Enter element:5
Enter element:6
Enter element:8
Enter element:6
Enter number of elements:5
Enter element:5
Enter element:6
Enter element:2
Enter element:4
Enter element:5
Sorted list is: [2, 4, 5, 5, 5, 6, 6, 6, 8]

#Python Program to sort the list according to the second element in the sublist.

In [ ]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Python Program to find the second largest number in a list using bubble sort.

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:3
Enter element:5
Enter element:6
Enter element:8
Second largest number is: 6

#Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:5
Enter the upper range:15
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225)]

#Python Program to generate random numbers from 1 to 20 and append them to the list.

In [ ]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:6
Randomised list is:  [20, 2, 12, 5, 14, 11]

# List  exercises

# print multiples of 3 upto 200 using a list

In [ ]:
print([i for i in range(201) if i%3==0] )

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

# print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:

print([i for i in range(1000,2001) if i%5==0 and i%7==0])

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

# Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
names=[input() for i in range(int(input("Enter number of string")))]
names.sort()
print(names)
names.sort(reverse=True)
print(names)

Enter number of string2
series
hp
['hp', 'series']
['series', 'hp']

# Print perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:

import math as m
print([i for i in range(500,1001) if i%5==0 and int((m.sqrt(i)))**2==i ] )

[625, 900]

#Write python program to have a list of words  to sort them from longest to shortest using list of tuples

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

#Python program that assigns variables

In [ ]:
# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

#Python program that searches tuples

In [ ]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

# Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [ ]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:3
Enter element1:my
Enter element2:name
Enter element3:jayalaks
The word with the longest length is:
jayalaks


# Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno

In [ ]:
print(sorted([(input("Enter rollno: "), input("Enter marks: ")) for i in range(int(input("Enter number of students")))], key=lambda x: x[1],reverse=True))

Enter number of students2
Enter rollno: 123
Enter marks: 45
Enter rollno: 234
Enter marks: 68
[('234', '68'), ('123', '45')]

# Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [ ]:
print(sorted([(input("Enter name: "), input("Enter salary: ")) for i in range(int(input("Enter number of employees")))], key=lambda x: x[0]))

Enter number of employees3
Enter name: jaya
Enter salary: 1500
Enter name: jaggu
Enter salary: 0001
Enter name: 3shul
Enter salary: 0000
[('3shul', '0000'), ('jaggu', '0001'), ('jaya', '1500')]